# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# VSCode or IntelliJ settings
.vscode/
.idea/

# macOS files
.DS_Store

db.sqlite3

# Python logs
*.log
